config.py
new-network-automation-dashboard_ch\routes\__pycache__
new-network-automation-dashboard_ch\services\__pycache__
new-network-automation-dashboard_ch\__pycache__
new-network-automation-dashboard_ch\data
new-network-automation-dashboard_ch\.venv
new-network-automation-dashboard_ch\config.py